<section *ngIf="value === 'admin'">
<div id="div1">
    <div class="card shadow-lg" style="width: fit-content; height: fit-content">
        <div class="card-body">
          <h5 class="card-title">Candidate Management</h5>
          <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleInputcandidatename">Camdidate Name</label>
              <input type="text" class="form-control" id="exampleInputcname" aria-describedby="cname" placeholder="Enter Here" formControlName="candidate">
              <small id="cname" class="form-text text-muted">Enter Full name of the Candidate</small>
            </div>
            <div class="form-group">
              <label for="exampleInputimgurl">Symbol</label>
              <input type="text" class="form-control" id="exampleInputimgurl" placeholder="Img URL Here" formControlName="symbol">
            </div>
            <div class="form-group">
              <label for="exampleInputiparty">Party</label>
              <input type="text" class="form-control" id="exampleInputiparty" placeholder="Party Name Here" formControlName="party">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
</div>
<div id="div1">
  <div class="card shadow-lg" style="width: 900px; height: fit-content">
      <div class="card-body">
        <h5 class="card-title">Candidate Table</h5>
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sr no.</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Party</th>
      <th scope="col">Count</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let a of candidateValue ;let i = index ">
    <tr>
      <td scope="row">{{i + 1}}</td>
      <td scope="row">{{a.candidate}}</td>
      <td scope="row"><img alt="{{a.party}}" title="{{a.party}}" src="{{a.symbol}}" style="width : 30px;height: 30px;"/></td>
      <td scope="row">{{a.party}}</td>
      <td scope="row">{{a.count}}</td>
      <td scope="row" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click)="delete1(a.candidate)" >
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg></td>
    </tr>
  </tbody>
</table>  
      </div>
    </div>
</div>

</section>