<section>
    <div>
        <div id="div1">
            <div class="card shadow-lg" style="width: 18rem; height: 24rem;">
                <img class="card-img-top" src="../../assets/44549216.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Candidate Management</h5>
                  <p class="card-text"></p>
                  <a routerLink="/adminpage" *ngIf="value === 'admin'">Candidate Management</a>
                </div>
              </div>
        </div>
        <div id="div1">
            <div class="card shadow-lg" style="width: 18rem; height: 24rem;">
                <img class="card-img-top" src="../../assets/voting-box.png" alt="Card image cap" style="padding: 1em;">
                <div class="card-body">
                  <h5 class="card-title">Candidate Vote Counts</h5>
                  <p class="card-text"></p>
                  <a routerLink="/userpage" >Candidate Votes</a>
                </div>
              </div>
        </div>
    </div>
</section>
